
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    min-height: 53.2rem;
    background-color: #f8f8ff;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
}

header::before {
    content: "";
    display: block;
    background-image: url(../assets/bg-header-top.svg);
    width: 40.7rem;
    height: 34.5rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after {
    content: "";
    background-image: url(../assets/bg-header-bottom.svg);
    width: 41.4rem;
    height: 33rem;
    position: absolute;
    right: 0;
    bottom: -1rem;
}

header .content {
    width: fit-content;
    border: 1px solid red;
    position: relative;
    z-index: 1;
}

 header p {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E45858;
 }

 header h1 {
    font-size: 4.8rem;
    line-height: 125%;
    color: #121214;
    max-width: 64.7rem;
 }

 header span {
    color: #6246ea;
 }

 form {
    display: flex;
    padding: 4rem;
    gap: 2.4rem;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
 }